---
import {siteConfig} from '@/config/site.config'
const title = Astro.props.title;
const formatTitle = title ? `${title} | ${siteConfig.siteName}` : siteConfig.siteName;
---
<title>{formatTitle}</title>