---
import BaseLayout from "@/layouts/base-layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    const paths = posts.map(post => {
        const [lang, ...slug] = post.slug.split('/');

        return {
            params: { lang, slug: slug.join('/') || undefined },
            props: post
        }
    });

    return paths;
}

const { lang, slug } = Astro.params;
const post = Astro.props;
const { Content } = await post.render();
---
<BaseLayout>
    <h1>{post.data.title}</h1>
    <p>by {post.data.tags}</p>
    <Content/>
</BaseLayout>