---
import BaseHeader from '@/components/layout/base-header.astro'
const locale = Astro.currentLocale
---
<!DOCTYPE html>
<html lang={ locale }>
<head>
    <BaseHeader />
</head>
<body>
    <slot />
</body>
</html>