---
import '@/styles/global.css'
import Head from '@/components/layouts/head/index.astro'
import Header from '@/components/layouts/header/index.astro'
import Footer from '@/components/layouts/footer/index.astro'
---
<!DOCTYPE html>
<html lang={Astro.currentLocale}>
<head>
	<Head />
</head>
<body class="flex flex-col min-h-screen">
	<Header />
	<main class="flex flex-1">main</main>
	<Footer />
</body>
</html>
