---
import '@/styles/global.css'
import Head from '@/components/layouts/head/index.astro'
---
<!DOCTYPE html>
<html lang={Astro.currentLocale}>
<head>
	<Head />
</head>
<body class="flex flex-col min-h-screen">
	<header>Header</header>
	<main class="flex flex-1">main</main>
	<footer>Footer</footer>
</body>
</html>
